*{
    margin: 0;
    padding: 0;
}

.pokeTitle {
    text-align: center;
    margin: 3rem;
}

body {
    display: inline-block;
    position: relative;
    background-color:#04426E;
}

form {
    width: 90%;
    height: 25%;
    margin: 1.5rem;
}

.filtro {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    flex-wrap: wrap;
}

input{
    background:white;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    color: black;
    font-size: 1.7rem;
    border: 3px solid black;
    border-radius: 8px;
}

button {
    cursor: pointer;
    width: 80px;
    height: 50px;
    background:#ffcd00;
    color: white;
    border: 3px solid black;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    
}

button:hover{
    background:rgba(255, 0, 0, 0.753) ;
}

#ordem {
    background:white;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    color: black;
    font-size: 1.7rem;
    border: 3px solid black;
    border-radius: 8px;
}

#tipo {
    background:white;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    color: black;
    font-size: 1.7rem;
    border: 3px solid black;
    border-radius: 8px;
}

.results {
    width: 90%;
    font-size: 3rem;
    background:snow;
    font-weight: 500;
    margin-left: 4.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
}

/* html */

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    
    
    height: auto;
    justify-content: center;
    align-content: center;
}

.div-filha {

    width: 300px;
    height: 330px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 0.8rem;
    letter-spacing: 3px;
    border: 5px solid;
    border-color:#ffcd00;
    border-radius: 16px;
    line-height: 14px;
    background-color: whitesmoke;
    opacity: 0.9;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/240px-Pokebola-pokeball-png-0.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-x: right;
    background-position-y: top;
    
}

.imagem {
    
    width: 40%;
    height: 30%;
    margin-left: 5.5rem;
    margin-top: 3rem;

}

.Titulo-card {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
}

.classe-card {
    
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    color: rgba(255, 0, 0, 0.753);
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
}


footer {
    position: static;
    background-color: slategray;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 0px;
}

@media only screen and (max-width: 1050px) {
    .pokeTitle {
        text-align: center;
        width: 260px;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 150px;
    }
    .filtro {
        height: 50px;
        width: 100%;
        padding-left: 7%;
        position: relative;
    }
    .button {
        height: 35px;
    }
    .results {
        font-size: 18px;
    }
    .flex-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;
        text-align: center;
        margin-top: 20rem;
        margin-left: 10.5rem;
    }
    .div-filha {
        width: 200px;
        height: 240px;
        margin: 3px 3px;
        font-size: 9px;
        background-size: 30px;
    }
    h3 {
        text-align: center;
    }
    .Titulo-card  {
        text-align: center;
    }
    .classe-card {
        text-align: center;
    }
    .imagem {
        width: 30%;
        height: 25%;
        margin-left: 4rem;
        margin-top: 0;
    }
}